body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5px;
    
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    
    
}
#full-stack{
    border-left: 10px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}
#baby-developer{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.Experiance-area{
    
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 165, 0), rgb(238, 116, 136));
    padding:10px 40px;
    color:whitesmoke;
    border-radius: 8px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
footer p{
    text-align: center;
}